@charset "UTF-8";
.benefit {
  margin-top: 76px;
  margin-bottom: 144px;
}
.benefit__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  margin-inline: auto;
}
.benefit__row {
  max-width: 1062px;
  height: 229px;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  color: #404040;
  background: #FFFFFF;
  border-radius: 15px;
  padding-block: 48px;
  padding-inline: 150px;
  /*padding: 48px 185px 48px 110px;*/
  margin-bottom: 16px;
}
.benefit__row-img {
  /* width: 100%;*/
}
.benefit__row-block {
  max-width: 515px;
}
.benefit__row-block__title {
  font-size: 16px;
  line-height: 36px;
}
.benefit__row-block__text {
  line-height: 20px;
  margin-block: 16px;
}
.benefit__row-block__textgr {
  color: #B7B6B6;
}
.benefit__row-block ul li {
  list-style-type: disc;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}
.benefit__btn {
  text-align: center;
}

/* button войти  и другие по всему сайту*/
.button {
  background-color: #273895;
  border-radius: 15px;
  border: #273895;
  padding: 16px 32px;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}
.button:hover {
  background-color: rgba(51, 76, 220, 0.8745098039);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.button a {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}

.contacts__row {
  display: flex;
  justify-content: space-around;
}
.contacts__row-photo {
  position: relative;
  border-bottom: 2px solid #DEE6EF;
  padding-bottom: 100px;
}
.contacts__row-photo__img {
  max-width: 90%;
  border-radius: 20px;
}
.contacts__row-photo__quote {
  position: absolute;
  border-radius: 12px;
  background: linear-gradient(338deg, #F0EBFF 0%, #FFF 100%);
  box-shadow: 0px 13.5276594162px 39.7872314453px 0px rgba(187, 166, 255, 0.2);
  max-width: 310px;
  padding: 20px;
  bottom: 6%;
  right: 0;
}
.contacts__row-photo p, .contacts__row-photo span {
  color: #303030;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 16px;
}
.contacts__row-block {
  max-width: 470px;
  margin-top: 6%;
  text-align: left;
}
.contacts__row-block ul, .contacts__row-block ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.contacts__row-block__text {
  line-height: 20px;
  color: #404040;
}
.contacts__row-block__title1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #303030;
}
.contacts__row-block__title2 {
  font-weight: 600;
  line-height: 20px;
  color: #404040;
  margin-top: 16px;
  margin-bottom: 32px;
}
.contacts__row-block__btn {
  margin-top: 32px;
}

.footer {
  padding-top: 32px;
  border-top: 2px solid #DEE6EF;
}
.footer__row {
  display: flex;
  align-items: center;
}
.footer__row-socials__link {
  text-decoration: none;
}
.footer__row-socials__icon {
  /* border-radius: 10px;
   border: 1px solid #CFDAE7;*/
  color: #273895;
  /*
  path {transition: fill 0.2s ease-in;}

  path &:hover {
     transform: fill #4f0579; 
  }*/
}
.footer__copyright {
  margin-top: 32px;
  background-color: #E8EDF3;
  padding-block: 16px;
}
.footer__copyright-row {
  display: flex;
  align-items: center;
  padding-left: auto;
  padding-right: auto;
}
.footer__copyright-row__text1 {
  color: #7A7A7A;
  margin-right: auto;
}
.footer__copyright-row__text2 {
  color: #7A7A7A;
  margin-right: 16px;
}
.footer__copyright-row__text3 {
  color: #7A7A7A;
}

.info__frst {
  background-image: url(.././../img/main/info/info1.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 88px;
  padding-bottom: 205px;
}
.info__frst-title {
  margin: auto auto 16px 115px;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #FFFFFF;
  max-width: 406px;
}
.info__frst-rewie {
  margin: auto auto auto 115px;
  font-size: 16px;
  line-height: 24px;
  color: #E9E9E9;
  max-width: 320px;
}

.info__scnd {
  background-image: url(.././../img/main/info/info2.png);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 144px auto;
}
.info__scnd-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #FFFFFF;
  max-width: 406px;
}
.info__scnd-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.info__scnd-contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.info__scnd-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__scnd-box__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  background: linear-gradient(93.03deg, #4614E8 11.01%, #BCA7FF 78.81%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.info__scnd-box__rewie {
  line-height: 20px;
  color: #FFFFFF;
  max-width: 140px;
  text-align: center;
}

.map__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas: "map__row-step1 map__row-step3 map__row-step4" "map__row-step1 map__row-step3 map__row-step4" "map__row-step2 map__row-step3 map__row-step4" "map__row-step2 map__row-step3 .";
  justify-items: center;
  margin-top: 48px;
}
.map__row-step1 {
  grid-area: map__row-step1;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.568627451);
  width: 296px;
  height: 243px;
  padding: 35px;
}
.map__row-step2 {
  grid-area: map__row-step2;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.568627451);
  width: 296px;
  height: 243px;
  padding: 35px;
}
.map__row-step3 {
  grid-area: map__row-step3;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.568627451);
  width: 312px;
  height: 502px;
  padding: 20% 35px;
}
.map__row-step4 {
  grid-area: map__row-step4;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.568627451);
  width: 312px;
  height: 366px;
  padding: 32px;
}
.map__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 235px;
}
.map__box-img {
  width: 40px;
  height: 40px;
}
.map__box-title {
  font-size: 16px;
  line-height: 36px;
  color: #404040;
  margin: 16px 0;
}
.map__box-text {
  line-height: 20px;
  color: #404040;
}
.map__box-draw {
  width: 231px;
  height: 161px;
  margin-bottom: 16px;
}
.map__box-aim {
  width: 55px;
  height: 55px;
}
.map__box-btn {
  margin-top: 16px;
}

.service {
  margin: 144px auto;
}

.service__row {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 20px 0px;
}
.service__row img {
  margin-right: 70px;
}
.service__row-sirius {
  width: 430px;
  padding-top: 2em;
}
.service__row-adv {
  width: 330px;
  padding-top: 5em;
}
.service__row-adv p::before {
  content: "";
  display: inline-block;
  background-image: url(.././../img/main/service/triangle.svg);
  width: 9px;
  height: 9px;
  margin-right: 15px;
}

.service__title-color {
  font-size: 16px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.17em;
  color: #34449C;
}

.service__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.advantages__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -50px;
  gap: 19px;
}
.advantages__row-box {
  width: 236px;
  height: 341px;
  box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.568627451);
  background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
  border-radius: 15px;
  padding: 32px;
}
.advantages__row-box h4 {
  margin-block: 16px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.support {
  margin-top: 45px;
  margin-bottom: 140px;
}

.support__header {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.support__row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.support__item {
  max-width: 345px;
  background-color: #FFFFFF;
  padding: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.support__item-img {
  width: 159px;
  height: 128px;
  margin: 0px auto 16px;
  text-align: center;
}
.support__item-text {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #404040;
}

.tarif {
  margin-bottom: 144px;
}
.tarif .title2 {
  line-height: 21px;
  text-align: center;
  margin: 16px auto 32px;
  font-weight: 400;
}
.tarif__btn {
  margin-bottom: 42px;
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
}
.tarif__btn-year {
  font-size: 20px;
  line-height: 30px;
}
.tarif__btn-year a {
  -webkit-text-decoration: underline dashed #273895;
          text-decoration: underline dashed #273895;
  color: #273895;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-underline-offset: 8px;
}
.tarif__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 32px 33px;
  grid-auto-flow: row;
  justify-items: center;
  grid-template-areas: "tarif__row-frst tarif__row-frst" "tarif__row-secnd tarif__row-third" "tarif__row-fourth tarif__row-fifth";
}
.tarif__row-frst {
  grid-area: tarif__row-frst;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 15px;
  max-width: 1062px;
  padding-block: 48px;
  padding-inline: 200px;
}
.tarif__row-secnd {
  grid-area: tarif__row-secnd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 513px;
  padding: 48px;
  background: #FFFFFF;
  border-radius: 15px;
}
.tarif__row-third {
  grid-area: tarif__row-third;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 513px;
  padding: 48px;
  background: #FFFFFF;
  border-radius: 15px;
}
.tarif__row-fourth {
  grid-area: tarif__row-fourth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 513px;
  padding: 48px;
  background: #FFFFFF;
  border-radius: 15px;
}
.tarif__row-fifth {
  grid-area: tarif__row-fifth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 513px;
  padding: 48px;
  background: #FFFFFF;
  border-radius: 15px;
}
.tarif__row-titlefree {
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #C9C9C9;
  margin: 8px auto 16px;
}
.tarif__row-title1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.15em;
  color: #2741D0;
  text-transform: uppercase;
}
.tarif__row-title2 {
  font-weight: normal;
  line-height: 30px;
  color: #737373;
  margin-block: 16px;
}
.tarif__row-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #404040;
}
.tarif__row-title3 {
  font-size: 16px;
  line-height: 30px;
  color: #404040;
  margin-block: 16px;
}
.tarif__row-text {
  font-size: 16px;
  line-height: 24px;
  color: #404040;
  /*
  додумать перенос списка в 1 грите
  .tarif1{
       display: flex;
       flex-wrap: wrap;
       max-width: 661px;
       height: 94px;
   }*/
}
.tarif__row-text p {
  --paragraphMarginBottom: 16px;
}
.tarif__row-text p::before {
  content: "";
  display: inline-block;
  background-image: url(.././../img/main/tarif-trig.svg);
  width: 7px;
  height: 7px;
  margin-right: 15px;
}
.tarif__row-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 40px;
  color: #2741D0;
  font-weight: bold;
  margin-block: 16px;
}
.tarif__row-link::after {
  content: "";
  display: inline-block;
  background-image: url(.././../img/main/strelka.svg);
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-left: 16px;
}

@media (min-width: 320px) and (max-width: 992px) {
  .container {
    max-width: 992px;
    padding: 0 20px;
  }
  .container .nav-row, .container .navigation {
    display: none;
  }
  .nav__mobile {
    display: block;
    margin-top: 22px;
    margin-bottom: 50px;
  }
  .nav__mobile-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__mobile-logo {
    display: flex;
    align-items: center;
    width: 140px;
    height: 45px;
    margin-right: auto;
  }
  .nav__mobile-logo img {
    width: 80px;
    height: 45px;
  }
  .nav__mobile-logo__name {
    margin-left: 13px;
    color: #3B1D8F;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
  }
  .nav__mobile-phone {
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 7px;
    background-color: #F4F7FA;
    background: linear-gradient(326.06deg, #2641D1 11.53%, #3333A3 74.32%);
    padding-inline: 18px;
    margin-right: 8px;
  }
  .nav__mobile-nav {
    width: 50px;
    height: 50px;
    padding: 0px;
    border: 0;
    border-radius: 7px;
    background-color: #F4F7FA;
  }
  .button {
    padding: 13px 25px;
  }
  .button a {
    font-size: 12px;
    font-weight: 500;
  }
  .header-content {
    margin-bottom: 72px;
    justify-content: center;
    height: 870px;
  }
  .left-inform {
    text-align: center;
    width: 90%;
  }
  .left-inform-header {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: auto;
  }
  .left-inform-text {
    margin: 16px 0;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: center;
    width: auto;
  }
  .left-inform-img {
    /*display: block;*/
    width: 122px;
    height: 122px;
    margin-block: 16px;
    margin-inline: auto;
  }
  .right-inform-mobimg {
    display: block;
    background-image: url(./../img/mobile/header-photo.svg);
    background-size: cover;
    background-position: center;
  }
  .right-inform-deskimg {
    display: none;
  }
  .oppotun-row {
    flex-direction: column;
    row-gap: 24px;
    height: 405px;
    margin-top: auto;
    /* top: 55%; */
    position: absolute;
  }
  .oppotun-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 216px;
  }
  .oppotun-row-list {
    line-height: 20px;
    text-align: center;
    padding-inline: auto;
  }
  .block__logo {
    width: 54px;
    height: 40px;
    margin-bottom: 24px;
  }
  .block__header {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  .block__text {
    line-height: 18px;
  }
  .block__row {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .block__row-box {
    max-width: 300px;
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .box__title {
    font-size: 32px;
    line-height: 30px;
  }
  .box__title-large {
    font-size: 32px;
    line-height: 30px;
  }
  .box__title-small {
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.17em;
  }
  .box__text {
    margin-top: 3px;
    font-size: 10px;
    line-height: 15px;
  }
  .box1 {
    width: 140px;
    height: 91px;
    padding: 16px;
  }
  .box2, .box3 {
    width: 124px;
    height: 91px;
    padding: 15px 12px;
  }
  .box4 {
    width: 132px;
    height: 110px;
    padding: 16px;
  }
}
.title1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */