/*
font-family: "Open Sans", sans-serif;
 font-family: "Roboto", sans-serif;
*/

@import url(./normalize.css);



body{
    background: #F4F7FA;  
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.container {
    max-width: 1440px;
    padding: 0 30px;
    margin-inline: auto;
}

.nav__mobile{
    display: none;
   
}

.nav-row { 
    margin: 55px auto;
    display: flex;
    align-items: center;

}
.logo {
    display: flex;
    align-items: center;
    width: 199px;
    height: 63px;
    margin-right: 60px;
}
.name-company {
    margin-left: 23px;
    color:#3B1D8F;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;

}
.name-company-intro {
    margin-right: auto;
    width: 227px;
    color: #303030;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.phone-company {
    margin-right: 36px;
    color:#303030;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

/* navigation list */
.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 48px;
    font-weight: 500;
    font-size: 16px;
}
ul, ul li{ list-style: none;}

.nav-item a {
    text-decoration: none;
    font-weight: bold;
    transition: box-shadow 0.2s ease-in; 
}

.nav-item a:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav-link{  color:#000000;}
.nav-link-active{ color:#273895;}



/*  header  */

.header-content {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 625px;
}


.left-inform {
    position: absolute;
    left: 0;
    top: 15%;
    z-index: 1;
    
}
.left-inform-header {
    
    width: 733px;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    color: #262626;

}
.left-inform-text {
    margin: 16px 0 32px;
    width: 547px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #303030;
}

.left-inform-img{
    display: none;
}

.right-inform {
    
    position: absolute;
    margin-left: auto;
}

.right-inform-mobimg{
    display: none;
}

.oppotun-row {
    position: relative;
    top: 460px;
    width: 712px;
    height: 160px;
    padding: 0px 30px;
    background-color: #F4F7FA;
    border-radius: 15px;
    box-shadow: 0px 4px 100px 0px #D0DAE391;


    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
.oppotun-row-item {
    font-size: 16px;
    text-align: left;
}

.oppotun-row-list {
    font-weight: bold;
    margin-top: 8px;
    line-height: 26px; 
    color: #303030;
}


/*section with logo and gif*/


.block {
    margin-top: 140px;
    margin-bottom: 48px;
}

.block__row {
    max-width: 1075px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    column-gap: 107px;
    row-gap: 24px;

}
.block__row-left {
    width: 380px;
}
.block__logo {
    width: 81px;
    height: 59px;
    margin-bottom: 40px;
}
.block__header {
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    color: #303030;

}
.block__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #404040;
}


.block__row-right {
    max-width: 460px;
}
.block__row-box {
    /*display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 14px 25px;
    grid-template-columns: 1fr, 1fr;
grid-template-rows:  1fr, 1fr;
    justify-content: center;*/

    display: grid;
    grid-template-columns: repeat(auto-fill, 217px);
    grid-column-gap: 23px;
    grid-row-gap: 14px;
    grid-template-areas: 
    "box1 box2"
    "box3 box4"; 
    justify-items: end;
}
.box1 {
    grid-area: box1;
    width: 217px;
    height: 156px;
    border-radius: 10px;
    box-shadow: 0px 4px 100px 0px #D0DAE391;

    padding-inline: 32px;
    padding-block: 32px;
}
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.box2, .box3 {
    width: 179px;
    height:135px;
    border-radius: 10px;
    box-shadow: 0px 4px 100px 0px #D0DAE391;

    padding-inline: 24px;
    padding-block: 24px;
}
.box4 {
    grid-area: box4;
    width: 192px;
    height: 171px;
    border-radius: 10px;
    box-shadow: 0px 4px 100px 0px #D0DAE391;

    padding-inline: 32px;
    padding-block: 32px;
}

.box {
    text-align: left;
}

.box__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    background: linear-gradient(181deg, #4614e8 0%, #bca7ff 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.box__title-large {
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    background: linear-gradient(181deg, #4614e8 0%, #bca7ff 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.box__title-small{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background: linear-gradient(181deg, #4614e8 0%, #bca7ff 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.box__text {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #404040;
}



