/* button войти  и другие по всему сайту*/

.button {
    background-color: #273895;
    border-radius: 15px;
    border: #273895;
    padding: 16px 32px;
    transition:  background-color 0.2s ease-in,  box-shadow 0.2s ease-in;

    &:hover {
        background-color: #334cdcdf;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    & a {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        text-decoration: none;
    }
}