.footer {
    padding-top: 32px;
    border-top: 2px solid #DEE6EF;

    &__row {
        display: flex;
        align-items: center;

        &-logo{
            display: flex;
            align-items: center;
            width: 213px;
            height: 63px;

            img{
                width: 87px;
                height: 63px;
            }
            &__name{
                margin-left: 16px;
                color:#3B1D8F;
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                line-height: 19px; 
                font-weight: 300;
            }
        }

        &-intro{
            font-size: 12px;
            line-height: 20px;
            color: #030303;
            width: 227px;
            margin-inline: 48px auto;
        }

        &-socials {
            margin-right: 90px;

            &__link {
                display: inline-block;
                text-decoration: none;
                border-radius: 10px;
                border: 1px solid #CFDAE7;
                width: 36px;
                height: 36px; 
            }
            &__icon {
                margin: 8.5px;
                width: 18px;
                height: 18px;
                
                          
            path {transition: fill 0.2s ease-in;}
                
            &:hover path {fill: #4cc601df;}
            }    
        }
    }


    &__copyright {
        margin-top: 32px;
        background-color: #E8EDF3;
        padding-block: 16px;

        &-row {
            display: flex;
            align-items: center;


            &__text1 {
                color: #7A7A7A;
                margin-right: auto;
            }
            &__text2 {
                color: #7A7A7A;
                margin-right: 16px;
            }
            &__text3 {
                color: #7A7A7A;
            }     
        }
    }
}
