.info__frst {
    background-image: url(.././../img/main/info/info1.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 88px;
    padding-bottom: 205px;

    &-title {
        margin: auto auto 16px 115px;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        color: #FFFFFF;
        max-width: 406px;

    }
    &-rewie {
        margin: auto auto auto 115px;
        font-size: 16px;
        line-height: 24px;
        color: #E9E9E9;
        max-width: 320px;
    }  
}

.info__scnd {
    background-image: url(.././../img/main/info/info2.png);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;

    margin: 144px auto;

    &-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        color: #FFFFFF;
        max-width: 406px;
    }

    &-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 50px;
    }

    &-contain {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }
    &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
     

        &__title {
            font-size: 32px;
            font-weight: 700;
            line-height: 48px;
            background: linear-gradient(93.03deg, #4614E8 11.01%, #BCA7FF 78.81%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;

        }
        &__rewie {
            line-height: 20px;
            color:#FFFFFF;
            max-width: 140px;
            text-align: center;
        }
    }  
}

