.tarif {
    margin-bottom: 144px;

    .title2{
    line-height: 21px;
    text-align: center;
    margin: 16px auto 32px;
    font-weight: 400;
    }

    &__btn{
        margin-bottom: 42px;
        display: flex;
        column-gap: 64px;
        justify-content: center;
        align-items: center;

        &-year{
        font-size: 20px;
        line-height: 30px;
        transition: background-color 0.2s ease-in border-radius 0.2s ease-in;

        &:hover{background-color: #334cdc79; border-radius: 5px;}
               
            a{
                text-decoration: underline dashed #273895;
                color: #273895;
                text-decoration-skip-ink: none;
                text-underline-offset: 8px;
            }
        }
    }

    &__row{
        max-width: 1062px;
        margin-inline: auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 32px 33px;
        grid-auto-flow: row;
        justify-items: center;
        grid-template-areas:
        "tarif__row-frst tarif__row-frst"
        "tarif__row-secnd tarif__row-third"
        "tarif__row-fourth tarif__row-fifth";

        &-frst { 
            grid-area: tarif__row-frst;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            border-radius: 15px;
            width: 1062px;
            padding-block: 48px;
            padding-inline: 200px;

            transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
            &:hover{
                transform: translateY(-5px);
                box-shadow: 0px 4px 15px rgba(12, 53, 123, 0.687);
            }
        }

        &-secnd { 
            grid-area: tarif__row-secnd;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 513px;
            padding: 48px; 
            background: #FFFFFF;
            border-radius: 15px;

            transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
            &:hover{
                transform: translateY(-5px);
                box-shadow: 0px 4px 15px rgba(12, 53, 123, 0.687);
            }
        }
  
        &-third { 
            grid-area: tarif__row-third;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 513px;
            padding: 48px; 
            background: #FFFFFF;
            border-radius: 15px;

            transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
            &:hover{
                transform: translateY(-5px);
                box-shadow: 0px 4px 15px rgba(12, 53, 123, 0.687);
            }
        }
  
        &-fourth { 
            grid-area: tarif__row-fourth;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 513px;
            padding: 48px;
            background: #FFFFFF;
            border-radius: 15px; 

            transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
            &:hover{
                transform: translateY(-5px);
                box-shadow: 0px 4px 15px rgba(12, 53, 123, 0.687);
            }
        }
  
        &-fifth { 
            grid-area: tarif__row-fifth;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 513px;
            padding: 48px;
            background: #FFFFFF;
            border-radius: 15px; 

            transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
            &:hover{
                transform: translateY(-5px);
                box-shadow: 0px 4px 15px rgba(12, 53, 123, 0.687);
            }
        }

        &-titlefree{
            font-size: 32px;
            line-height: 44px;
            text-align: center;
            color: #C9C9C9;
            margin: 8px auto 16px;
        }

        &-title1 {
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0.15em;
            color: #2741D0;
            text-transform: uppercase;
        }

        &-title2 {
            font-weight: normal;
            line-height: 30px;
            color: #737373;
            margin-block: 16px;
        }

        &-price {
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
            color: #404040;
        }

        &-title3 {
            font-size: 16px;
            line-height: 30px;
            color: #404040;
            margin-block: 16px;
        }

        &-text {
            font-size: 16px;
            line-height: 24px;
            color: #404040;

            li{
                list-style-image: url(/img/main/service/triangle-litle.svg);
                list-style-position: outside;
                margin-bottom: 16px;
                margin-left: 1em;
                padding-left: 8px;
            }
            /*
            p {--paragraphMarginBottom: 16px;}
            p::before{
                content: '';
                display: inline-block;
                background-image: url(.././../img/main/service/triangle-litle.svg);
                width: 7px;
                height: 7px;
                margin-right: 15px;
            }*/

           /*
           
           додумать перенос списка в 1 грите
           .tarif1{
                display: flex;
                flex-wrap: wrap;
                max-width: 661px;
                height: 94px;
            }*/

        }
        &-link {
            text-decoration: none;
            font-size: 16px;
            line-height: 40px;
            color: #2741D0;
            font-weight: bold;
            margin-block: 16px;

            &::after{
                content: '';
                display: inline-block;
                background-image: url(/img/main/strelka.svg);
                width: 15px;
                height: 15px;
                vertical-align: middle;
                margin-left: 16px;
            }
        }
    }
}
